html{
  height: 100%;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: black;
}
nav{
  top:0;
  position: fixed;
  min-height: 100vh !important;
  display: flex;
  width: 24%;
  border-right: 0.1px solid grey;
  padding-top: 3%;
  padding-left: 0,5%;
}
.mid{
  color: white;
}
.right{
  border-left: 0.1px solid grey;
  min-height: 100vh !important;
  display: flex;
  top:0;
  padding-top: 0.5%;
  padding-left: 3%;
position: fixed;
width: 23%;
}
.nav-links{
  width: 40%;
  align-items: center;
  list-style: none;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 22px;
  color: white;

}

li{
  padding-bottom: 20%;

}
.wrapper{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}

/* .inputRounded .MuiOutlinedInput-root{
   border-radius: 50px;
} */
